a{
    text-decoration: none;
}

.mat-button{
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    padding: 16px 0px;
    width: fit-content;
    cursor: pointer;
    &-primary{
        color: #fff;
        background: #5A43FF;
        border:solid 1px #5A43FF;
    }
    &-disabled{
        color: #fff;
        background: #CAC4DF;
        border:solid 1px #CAC4DF;
    }
    &-default{
        background: #ffffff;
        border:solid 1px #CFD1D4;
    }    
    &-outline{
        background: #ffffff;
        border:solid 1px #5A43FF;
    }
    &-filter{        
        background: #FFFFFF;
        border-radius: 4px;
        border: 1px solid #00000073;
        padding: 11px 16px;
        color: #5A43FF;

    }
}

.currency-icon{
    mat-icon{
        padding: 0 0px 0 12px !important;
        top: 5px;
        font-size: 18px !important;
        position: relative;
    }
  }

.exp_close {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 20px;
    padding: 2px;
    background: $orange;
    color: #fff !important;
    border: none;
    line-height: 10px !important;
}

.Job-mat-button{
    position: absolute;
    right: 32px;
    top: 19px;
    z-index: 99999;
}