.user-details{
    .ss-logo {
        width: 180px;
        @media (max-width: 768px){
            width: 140px !important;
        }
    }
    .ss-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px){
            padding: 6px 0px;
            display: none;
        }
    }
    .ss-menu {
        .menu-item {
            font-size: 14px;
            font-weight: 500;
            color: #0D141F;
            padding: 30px 18px;
            display: inline-block;
            border-bottom: solid 4px transparent;
            transition-duration: 600ms;
            &:hover{
                border-color: #3b83f5 !important;
            }
            &.active{
                font-weight: 700;
                border-color: #0B69FF;
            }
            @media (max-width:991px) {
                padding: 25px 10px;
            }
        }
    }
    
    .profile-img{
        width: 32px;
        height: 32px;
        border-radius: 100%;
        object-fit: cover;
    }
    
    .user-name{
        font-size: 14px;
        font-weight: 500;
        color: #00162A;
        white-space: nowrap;
        max-width: 110px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .mat-menu-content{
        padding: 0px;
    }
    
}


.profile-dropdown-menu {
    min-width: 180px !important;
    max-width: 220px !important;
}

// ss-navbar-mobile
.ss-navbar-mobile{
    display: none;
    .nav-toggle-btn {
        border: none;
        padding: 0px;
        outline: none;
        &.hamburger{
            span {
                width: 23px;
                height: 2px;
                display: block;
                background-color: #0D141F;
                margin: 0px;
                &:nth-child(2){
                    margin: 5px 0px;
                }
            }
        }
        &.close{
            font-size: 48px;
            line-height: 8px !important;
            transform: rotate(45deg);
            color: #0D141F;
            font-weight: 300;
            height: 26px;
        }
    }

    @media (max-width: 767px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px;
    }

    .slideMenu-slider {
        position: absolute;
        top: 0px;
        left: -110%;
        width: 100%;
        // padding: 10px 0px;
        z-index: 99999;
        height: 100vh;
        transition-duration: 300ms;
        background-color: #ffffff;
        opacity: 0;
        &.open {
            opacity: 1;
            left: 0px;
        }
    }

    .menu-mobile-item {
        display: block;
        padding: 15px 15px;
        border-bottom: solid 1px #a1a1a1;
        color: #0D141F;
        font-weight: 500;
        border-left: solid 2px transparent;
        &.active {
            color: #0B69FF;
            border-left-color: #0B69FF;
        }
    }

}


.onboarding-progress-btn{
    animation: shadowRipple 1.5s infinite;
    box-shadow: 0px 0px 1px 0px #e5efff;
    margin-left: 8px;
        @media (max-width:380px) {
            margin-right: 10px !important;
            font-size: 12px !important;
        }
}

@keyframes shadowRipple {
from{
    box-shadow: 0px 0px 1px 0px #0B69FF;
}
to{
    box-shadow: 0px 0px 1px 8px transparent;
}
}